.selfie {
	width:50px;
	margin-top: 7px;
}

footer.page-footer {
	margin-top: 0px !important;
	background-color: #607d8b !important;
}

li, a, div {
	font-family: 'Josefin Sans', sans-serif;
}

h1 {
  font-family: 'Amatic SC', cursive;
  font-weight: 700;
  line-height: 46px;
  font-size: 46px;
  margin: 0 0 23px 0;
}

p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  margin: 0 0 23px 0;
}

.section {
	background-color: #FCFBE3;
}

.parallax-container {
  height: 350px !important;
}

a.back-to-top {
  display: none;
  width: 60px;
  height: 60px;
  text-indent: 4.5px;
  position: fixed;
  z-index: 999;
  right: 20px;
  bottom: 20px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  padding-top: 5px;
}

.carousel .carousel-item {
  width: 400px !important;
}

.carousel-item {
  border: 2px solid black;
  height: 252px !important;
}

#projects {
  height: 450px;
}
